venv
.DS_Store
test.py
__pycache__
.idea
scripts/script_test
test
ui_test.py
ui_test.ui
ui_test2.ui
ui_win-test.py
ui_win-test.ui
test/diff_test.py
test/binarydiffresultview.py
test/binarydiffresultview.ui
